@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './lightbulb-page/index.scss';
@import './home_page/index.scss';
@import './expositores-page/index.scss';
@import './contacto-page/index.scss';
@import './about-page/index.scss';
@import './proyecto-page/index.scss';
@import './nav-bar-proyectos/index.scss';
@import './proyecto-rrss-page/index.scss';

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}
