.home-page {
  button {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    display: block;
  }
  .home-title {
    font-size: 48pt;
    margin: 0;
    padding: 20px;
    padding-top: 65px;
  }
}